<section class="section-enjoy">
    <div class="container">
        <h1 class="title">Enjoy your favorite food from anywhere</h1>
        <div class="enjoy-container">
            <p class="paragraph">With just a few clicks, you can have your favorite meals delivered straight to your doorstep, no matter where you are. Order now and enjoy a hassle-free and delicious meal from the comfort of your own home.
            </p>
            <button class="section-btn">Order Now</button>
            <div class="slider">
                <div class="slider-img"></div>
            </div>
        </div>
    </div>
</section>