<section class="favorites">
    <div class="container">
        <h2 class="favorites-title">Some <span class="favorites-title-transform">of</span> our favorites</h2>
        <p class="favorites-paragraph">Looking for something delicious?</p>
        <ul class="favorites-menu">
            <li class="favorites-item">
                <div class="image-container">
                    <div class="burger"></div>
                </div>
            </li>
            <li class="favorites-item">
                <div class="image-container">
                    <div class="pasta"></div>
                </div>
            </li>
            <li class="favorites-item">
                <div class="image-container">
                    <div class="pizza"></div>
                </div>
            </li>
            <li class="favorites-item devices">
                <div class="image-container">
                    <div class="chicken"></div>
                </div>
            </li>
            <li class="favorites-item devices">
                <div class="image-container">
                    <div class="salad"></div>
                </div>
            </li>
            <li class="favorites-item devices">
                <div class="image-container">
                    <div class="borsch"></div>
                </div>
            </li>
        </ul>
    </div>
</section>