<section id="feedback">
    <div class="container">
        <h2 class="feedback-title">What <span class="lowercase">our</span> customers say</h2>
        <p class="feedback-paragraph">Don't just take our word for it - see what our satisfied customers have to say</p>
        <ul class="feedback-menu">
            <li class="feedback-item">
                <svg width="101" height="16">
                    <use href="../public/favicon.svg#icon-stars"></use>
                </svg>
                <h4 class="feedback-comment">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”</h4>
                <div class="feedback-container">
                    <img srcset="../img/guy.png 1x, ../img/guy@2x.png 2x"
                    src="../img/guy.png" alt="male" width="48" height="48">
                    <div class="name-container">
                        <h5 class="name">Sumith Shah</h5>
                        <p class="position">Researcher</p>
                    </div>
                </div>
            </li>
            <li class="feedback-item">
                <svg width="101" height="16">
                    <use href="../public/favicon.svg#icon-stars"></use>
                </svg>
                <h4 class="feedback-comment">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”</h4>
                <div class="feedback-container">
                    <img srcset="../img/girl.png 1x, ../img/girl@2x.png 2x"
                    src="../img/girl.png" alt="female" width="48" height="48">
                    <div class="name-container">
                        <h5 class="name">Prianka Maja</h5>
                        <p class="position">Food bloger</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>