<footer class="footer">
    <div class="container">
        <div class="footer-container">
            <a class="footer-logo" href="./index.html">
                <svg width="69" height="51">
                    <use href="./public/favicon.svg#icon-footer-logo"></use>
                </svg>
            </a>
            <div class="img-apple-container"></div>
            <nav class="footer-nav">
                <ul class="footer-nav-menu">
                    <li class="footer-nav-list-item">Home</li>
                    <li class="footer-nav-list-item">About</li>
                    <li class="footer-nav-list-item">Service</li>
                    <li class="footer-nav-list-item">Menu</li>
                    <li class="footer-nav-list-item">Contact</li>
                </ul>   
            </nav>
            <div class="img-orange-container"></div>
        </div>
        <form class="footer-form">
            <label class="footer-label" >Subscribe
                <div class="input-wrapper">
                    <input class="footer-input" type="email" name="footer-email" placeholder="Enter your email">
                    <div class="error-wrapper">
                        <svg class="svg-icon" width="12" height="12">
                            <use href="./public/favicon.svg#icon-invalid"></use>
                        </svg>
                        <span class="error-message">Not a valid email address (example@email.com)</span>
                    </div>
                </div>
            </label>
            <button class="footer-btn" type="submit">Subscribe</button>
            <p class="footer-paragraph">By subscribing you agree to with our <a class="privacy-link" href="#footer-privacy">Privacy Policy</a></p>
        </form>
        <ul class="footer-policies">
            <li class="footer-policies-item"><a class="footer-policies-link" href="#footer-privacy">Privacy Policy</a></li>
            <li class="footer-policies-item"><a class="footer-policies-link" href="">Terms of Service</a></li>
            <li class="footer-policies-item"><a class="footer-policies-link" href="">Cookies Settings</a></li>
        </ul>
        <p class="reserved-rights">2022 FoodSta. All right reserved.
            <div class="img-bottom-container"></div>
        </p>
        
    </div>
</footer>