<section class="subscribe">
    <div class="container position-container">
        <div class="subscribe-image"></div>
        <div class="subscribe-content">
            <h2 class="subscribe-title">Subscribe to get special offers</h2>
            <p class="subscribe-paragraph">Order now and receive 10% off your first meal with Enjoy Your Favorite Food From Anywhere. </p>
            <form class="subscribe-form" name="subscribe_frm" action="">
                <label class="form-label">
                    <div class="input-wrapper">
                        <input class="form-input" type="email" name="email" placeholder="Enter your email">
                        <div class="error-wrapper">
                            <svg class="svg-icon" width="12" height="12">
                                <use href="./public/favicon.svg#icon-invalid"></use>
                            </svg>
                            <span class="error-message">Not a valid email address (example@email.com)</span>
                        </div>
                    </div>
                </label>
                <button class="subscribe-btn" type="submit">Subscribe</button>
            </form>
        </div>
        
    </div>
</section>