.section-enjoy {
    padding-top: 60px; 
    padding-bottom: 45px;
}

.title {
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 28px;
}

.paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4; 
    margin-bottom: 32px;
}

.section-btn {
    border-radius: 30px;
    background-color: #BBF330;
    border: none;
    padding: 6px 18px;
    color: #2C2C2C;
    text-align: right;
    font-family: inherit;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 19.5px */
    
    transition: background-color 250ms ease-in-out;
}
    
.section-btn:focus {
        background-color: #FFE450;
}

/*-----TABLET-----*/

@media screen and (min-width: 768px) {
    .section-enjoy {
        padding-bottom: 42px;
    }

    .title {
        font-size: 42px;
        line-height: 1.2;
        margin-bottom: 44px;
    }
    
    .paragraph {
        font-size: 16px;
        line-height: 1.5; 
        margin-bottom: 40px;
        max-width: 336px;
    }

    .enjoy-container {
        position: relative;
    }

    .slider {
        width: 320px;
        height: 320px;
        border-radius: 320px;
        border: 14px solid #FFE550;
        background-color: #FFF;
        position: absolute;
        top: -53px;
        right: -18px;
    }

    .slider-img {
        width: 292px;
        height: 292px;
        border-radius: 148.414px;
        background-image: url(../img/slider-1.png);
        background-color: lightgray;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .slider-img {
        background-image: url('../img/slider-1@2x.png');
    }
    }



}


/*-----DESKTOP-----*/

@media screen and (min-width: 1280px) {
.section-enjoy {
    padding-top: 159px;
    padding-bottom: 69px;
}

.title {
    font-size: 48px;
    margin-bottom: 28px;
    max-width: 505px;
}

.paragraph {
    max-width: 511px;
}

    .section-btn:hover {
        background-color: #FFE450;
}

.slider {
    width: 580px;
    height: 580px;
    border-radius: 580px;
    border: 26px solid #FFE550;
    background-color: #FEFEFE;
    position: absolute;
    
    top: -280px;
    right: 0;
}
/*
.slider-img {
    width: 292px;
    height: 292px;
    border-radius: 148.414px;
    background-image: url(../img/slider-1.png);
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
}*/

@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
.slider-img {
    background-image: url('../img/slider-1@2x.png');
}
}
}