#feedback {
    padding-top: 60px;
    padding-bottom: 60px;
}

.feedback-title {
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.lowercase {
    text-transform: lowercase;
}

.feedback-paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
}

.feedback-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.feedback-item {
    margin: 8px;
}

.feedback-comment {
    margin-top: 28px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.feedback-container {
    display: inline-flex;
    gap: 16px;
}

.name-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.name {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.position {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.feedback-item::after {
    width: 1px;
    height: 52px;
    background-color: #7EB101;
    content: '';
    margin-left: 15px;
    display: inline-flex;
}

/*TABLET STYLES*/
@media screen and (min-width: 768px) {
    #feedback {
        padding-top: 80px;
        padding-bottom: 202px;
    }


.feedback-title {
    font-size: 42px;
}

.feedback-paragraph {
    font-size: 16px;
}

.feedback-menu {
    flex-direction: row;
    gap: 44px;
}

.feedback-item {
    margin: 12px;
}

.feedback-comment {
    font-size: 18px;
}

}

/*DESKTOP STYLES*/
@media screen and (min-width: 1280px) {
    #feedback {
        background-color: #FFE550;
        padding-top: 140px;
        padding-bottom: 126px;
    }

    .feedback-menu {
        flex-direction: row;
        gap: 139px;
    }
    
    .feedback-item {
        margin: 0;
        padding: 14px;
        background-color:#FEFEFE;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    
    .feedback-comment {
        margin-bottom: 41px;
    }
    
}